<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>

<!-- Security Headers -->
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://cdn.jsdelivr.net; font-src 'self' https://cdnjs.cloudflare.com; img-src 'self' data:; frame-src 'self' https://www.youtube.com https://youtube.com; frame-ancestors 'self';">
<meta name="referrer" content="strict-origin-when-cross-origin">

{{ $style := resources.Get "styles/style.scss" | css.Sass | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ $fa := resources.Get "vendor/fontawesome/css/all.min.css" | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $fa.Permalink }}" integrity="{{ $fa.Data.Integrity }}">

{{ $script := resources.Get "js/main.js" | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>

{{ if .IsPage }}
<!-- KaTeX -->
{{ $katexCss := resources.Get "vendor/katex/katex.min.css" | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $katexCss.Permalink }}" integrity="{{ $katexCss.Data.Integrity }}">
{{ $katexJs := resources.Get "vendor/katex/katex.min.js" | resources.Fingerprint }}
<script defer src="{{ $katexJs.Permalink }}" integrity="{{ $katexJs.Data.Integrity }}"></script>
{{ $katexAuto := resources.Get "vendor/katex/contrib/auto-render.min.js" | resources.Fingerprint }}
<script defer src="{{ $katexAuto.Permalink }}" integrity="{{ $katexAuto.Data.Integrity }}"></script>
{{ end }}
